/***********************************
 * custom animations
 ***********************************/

/**
 * set duration and fill of element
 */

 .animate {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animate-short {
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animate-long {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

/*/~~~~~~~~~~~~~////~~~~~~~~~~~~~~////~~~~~~~~~~~~~/*/

/**
 * menuSlidesLeft
 */

@-webkit-keyframes menuSlidesLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.menuSlidesLeft {
  -webkit-animation-name: menuSlidesLeft;
          animation-name: menuSlidesLeft;
}

/*/~~~~~~~~~~~~~////~~~~~~~~~~~~~~////~~~~~~~~~~~~~/*/

/**
 * menuSlidesRight
 */

@-webkit-keyframes menuSlidesRight {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.menuSlidesRight {
  -webkit-animation-name: menuSlidesRight;
          animation-name: menuSlidesRight;
}

/*/~~~~~~~~~~~~~////~~~~~~~~~~~~~~////~~~~~~~~~~~~~/*/

/**
 * pageSlidesLeft
 */

/* percentage based on width of menu */

@-webkit-keyframes pageSlidesLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
}

.pageSlidesLeft {
  -webkit-animation-name: pageSlidesLeft;
          animation-name: pageSlidesLeft;
}

/*/~~~~~~~~~~~~~////~~~~~~~~~~~~~~////~~~~~~~~~~~~~/*/

/**
 * pageSlidesRight
 */

/* percentage based on width of menu */

@-webkit-keyframes pageSlidesRight {
  0% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.pageSlidesRight {
  -webkit-animation-name: pageSlidesRight;
          animation-name: pageSlidesRight;
}























